* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  vertical-align: baseline;
  font-size: 100%;

}

/* ページ全体共通設定 */
html {
  font-family: roboto;
}

body {
  width: 100%;
}
body.active {
  overflow: hidden;
}
a {
  text-decoration: none;
}
.wrapper {
  width: 100%;
  margin: 0 auto;
}

.navBar::after {
  content: "";
  clear: both;
  display: table;
}

h1 {
  color: #fff;
  font-size: 48px;
}

p {
  color: #fff;
  font-size: 16px;
  font-weight: 300;
}
/* ナビゲーションバー設定 */
nav {
  margin: auto;
  background: #f7f7f7;
  height: 270px;
  line-height: 270px;
}

nav a img {
  vertical-align: middle;
  height: 270px;
}

nav a .logo {
}
nav a:nth-child(2){
  float: right;
}
.nav-container {
  width: 1020px;
  margin: auto;
}
/* ハンバーガーアイコンの設定 */
#toggle {
  display: none;
  visibility: visible;
  opacity: 1;
  margin-top: 6px;
}

#toggle {
  position: absolute;
  right: 20px;
  top: 14px;
  z-index: 999;
  width: 40px;
  height: 40px;
  cursor: pointer;
  float: right;
  transition: all 0.3s ease-out;
}

#toggle .span {
  height: 3px;
  background: #9a9a9a;
  transition: all 0.3s ease-out;
  backface-visibility: hidden;
  margin: 5px auto;
}

#toggle.on #one {
  transform: rotate(45deg) translateX(2px) translateY(4px);
}

#toggle.on #two {
  opacity: 0;
}

#toggle.on #three {
  transform: rotate(-45deg) translateX(8px) translateY(-10px);
}
/* ページヘッダー部分 */
.header {
  width: 1020px;
  margin: auto;
}

.header p {
  width: 60%;
  margin-top: 10px;
  font-size: 14px;
}
/* コンテンツ部分 */
.profile-box {
  background: #cacaca;
  padding: 100px 0px;
}
.profile-container {
  margin-top: 100px;
  display: flex;
  flex-wrap:wrap;
  justify-content: flex-end;
}
.profile-container img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 100px;
}
.profile {
  margin: 0px 40px;
}
.profile p {
  width: 100%;
}

.design-container {
  padding: 100px 0px;
  background: #2f2f2f
}

.content {
  width: 1020px;
  margin: auto;
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.content-boxes {
  width: 33%;
  height: 335px;
  margin-bottom: 30px;
}
.content-boxes img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  transition: .3s;
  opacity: 1;
  box-shadow: 6px 9px 10px 0px #808080ab;

}

.content-boxes img:hover {
  opacity: .7;
  cursor: pointer;
}

/* footer部分 */
footer {
  background: #2f2f2f;
  line-height: 120px;
}

footer p {
  text-align: center;
  color: grey;
  margin: auto;

}
/* menu関連 */
.pc-menu {
  float: right;
  position: relative;
}
.pc-menu li {
  display: inline-block;
  position: relative;
  padding: 0px 20px;
  line-height: 70px;
}
.pc-menu li a img {
  height: 45px;
}

#menu.active {
  visibility: visible;
  opacity: 0.99;
}
#menu {
  z-index: 1;
  top: 0px;
  position: absolute;
  background: #2f2f2f;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  transition: all 1s ease-out;
  display: table;
  vertical-align: center;
}  
#menu li {
  display: block;
  line-height: 70px;
  margin-bottom: 30px;
  padding: 20px 0;
  font-size: 48px;
  min-height: 48px;
  font-weight: 200;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

#menu li a {
  color: #fff;
}
#menu li img {
   height:70px;
} 

#menu li:nth-child(1) {
  margin-top: 140px;
}

#menu li a img {
  margin: 0px 10px;
}


/* responsiveness */
@media only screen and (max-width: 991px) {

  nav a .logo {
      margin-left: 20px;
  }
  #toggle {
      display: block;
  }
  .pc-menu {
      display: none;
  }
  .header {
      text-align: left;
      margin: 50px auto;
  }

  .header h1 {
      font-size: 30px;
  }
  .header p {
      font-size: 12px;
      width: 100%;
  }

  .work img {
      margin: 2%;
      width: 90%;
  }
  .work2 img {
      margin: 2%;
  }
  #menu li {
      font-size: 30px;
  }
  .content {
    flex-direction: column;
  }
  .profile-container {
    justify-content: center;
    margin-top: 50px;
  }
  .profile-container img {
    height: 150px;
    width: 150px;
  }
  .content-boxes {
  width: 100%;
  }
  .header,.nav-container,.content {
      width: 90%;
  }
  .design-container, .profile-box {
    padding:50px 0px;
  }
}