@media only screen and (max-width:1367px) {
    main {
        height: 500vh;
        position: relative;
        z-index: 2;
    }
    .wrapper h1 {
        font-size: 75px;
    }
    .about > img {
        right: 40%;
        object-fit: contain;
        height: 300px;
        width: 300px;
        z-index: 1;
    }
    .designs > .photos {
        position: relative;
        bottom: unset;
        right: unset;
        max-width: 850px;
        max-height: 650px;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        background-color: #222;
    }
    .designs button {
        position: relative;
        top: unset;
        right: unset;
        width: 200px;
        height: 100px;
        font-size: 20px;
        transition: .5s;
    }
    .slide {
        overflow: auto;
        height: 100%;
        width: 100%;
        filter: drop-shadow(2px 4px 6px black);
    }
    .sliders {
        position: relative;
    }
    .java-img {
        top: 10%;
        right: 7%;
        left: unset;
    }
    .mySql-img {
        top: 10%;
        right: 17%;
        left: unset;
    }
    .ruby-img {
        top: 40%;
        right: 20%;
        left: unset;
    }
    .skill > .view-img {
        top: 40%;
        right: 7%;
        left: unset;
    }
    .skill, .designs {
        min-height: 100vh;
        height: unset;
    }
    /* */
    .ink, .ink-bottom {
        transform: scale(2);
    }
    main {
        height: 500vh;
        position: relative;
        z-index: 2;
    }
    .logo, .block {
        right: 0%;
        top: -350%;
        height: 60vh;
    }
    .top > .wrapper > h1 {
        width: 100%;
    }
    .top > .wrapper > h1::after {
        top: 0px;
        width: 5px;
    }
    .about > img {
        right: 15%;
        top: 10%;
        margin-right: 10px;
    }
    .designs button {
        margin: 75px auto 75px;
    }
    .wrapper {
        width: 90%;
    }
    .wrapper h1 {
        margin: 50px 0px 20px;
        padding-left: 10px;
    }
    .sliders .image-container {
        min-width: 345px;
    }
    .skill img {
        transform: scale(0.8);
    }
    .mySql-img {
        right: 35%;
    }
    .ruby-img {
        right: 35%;
        top: 20%;
    }
    .skill > .view-img {
        top: 20%;
    }
    .skill .left-container,
    .skill .right-container {
        width: unset;
        min-width: 100%;
        height: 100%;
    }
    .skill, .designs {
        min-height: 100vh;
        height: unset;
    }
    .right-container p:first-child {
        margin-top: 50px;
        margin-bottom: 50px;
    }
}

@media only screen and (max-width:1025px) {
    .ink, .ink-bottom {
        transform: scale(2);
    }
    main {
        height: 500vh;
        position: relative;
        z-index: 2;
    }
    .logo, .block {
        right: 0%;
        top: -350%;
        height: 60vh;
    }
    .top > .wrapper > h1 {
        width: 100%;
    }
    .top > .wrapper > h1::after {
        top: 0px;
        width: 5px;
    }
    .about > img {
        right: 15%;
        top: 10%;
        margin-right: 10px;
    }
    .designs button {
        margin: 75px auto 75px;
    }
    .wrapper {
        width: 90%;
    }
    .wrapper h1 {
        margin: 50px 0px 20px;
        padding-left: 10px;
    }
    .sliders .image-container {
        min-width: 345px;
    }
    .skill img {
        transform: scale(0.8);
    }
    .mySql-img {
        right: 35%;
    }
    .ruby-img {
        right: 35%;
        top: 20%;
    }
    .skill > .view-img {
        top: 20%;
    }
    .skill .left-container,
    .skill .right-container {
        width: unset;
        min-width: 100%;
        height: 100%;
    }
    .skill, .designs {
        min-height: 100vh;
        height: unset;
    }
    .right-container p:first-child {
        margin-top: 50px;
        margin-bottom: 50px;
    }
}

@media only screen and (max-width:768px) {
    main {
        height: 600vh;
    }
    .logo, .block {
        right: -10%;
        top: -350%;
        height: 70vh;
    }
    .wrapper {
        width: 90%;
    }
    .wrapper h1 {
        margin: 50px 0px 20px;
        padding-left: 10px;
    }
    .about > img {
        right: 0%;
        top: 10%;
        margin-right: 10px;
    }
    .designs button {
        margin: 75px auto 75px;
    }
    .sliders .image-container {
        min-width: 345px;
    }
    .skill img {
        transform: scale(0.8);
    }
    .mySql-img {
        right: 35%;
    }
    .ruby-img {
        right: 35%;
        top: 20%;
    }
    .skill > .view-img {
        top: 20%;
    }
    .skill .left-container,
    .skill .right-container {
        width: unset;
        min-width: 100%;
        height: 100%;
    }
    .skill, .designs {
        min-height: 100vh;
        height: unset;
    }
    .right-container p:first-child {
        margin-top: 50px;
        margin-bottom: 50px;
    }
}

/* mobile */
@media only screen and (max-width:766px) {
    .ink, .ink-bottom {
        transform: scale(2);
    }
    main {
        height: 900vh;
    }
    .wrapper {
        width: 99%;
    }
    p {
        font-size: 12px;
        padding: 10px;
    }
    .top .wrapper h1 {
        animation: typing 1s steps(100, end), mobile-top 1s 4s forwards;
    }
    .logo, .block {
        height: 50vh;
        top: -300%;
        left: 0;
        right: unset;
        width: 100%;
    }
    .wrapper h1 {
        font-size: 30px !important;
        margin: 50px 0px 20px;
        padding-left: 10px;
    }
    h1 a {
        font-size: 30px;
    }
    .about > img {
        width: 150px;
        height: 150px;
        right: 0%;
        top: 10%;
        margin-right: 10px;
    }
    .about > .wrapper > p,
    .designs p, .skill p {
        line-height: 30px;
    }
    .skill, .designs {
        min-height: 100vh;
        height: unset;
    }
    .designs > .photos {
        max-height: unset;
    }
    .designs button {
        width: 150px;
        height: 50px;
    }
    .sliders .image-container {
        min-width: 99%;
        padding-left: 25vw;
    }
    .skill img {
        display: none;
    }
    .right-container p:first-child {
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .right-container p span {
        width: 100% !important;
    }
}

@media only screen and (max-width:321px) {
    main {
        height: 900vh;
    }
    .wrapper {
        width: 99%;
    }
    .sliders .image-container {
        min-width: 99%;
        padding-left: 25vw;
    }
}

@keyframes mobile-top {
    0% {
    }
    100% {
        color: #fff;
    }
}