* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Yu Mincho Light','YuMincho','Yu Mincho','游明朝体','ヒラギノ明朝 ProN','Hiragino Mincho ProN',sans-serif;
}
a:link, a:visited, a:hover, a:active {
  color: unset;
}
.animate {
    opacity: 0;
}
/* ink-settings */
.ink {
    position: fixed;
    top: 30%;
    left: 20%;
    height: 50px;
    width: 50px;
    object-fit: contain;
    transform: scale(5);
}
.ink-bottom {
    position: fixed;
    bottom: 30%;
    right: 20%;
    height: 50px;
    width: 50px;
    object-fit: contain;
    transform: scale(5);
}
nav ul {
    position: fixed;
    bottom: 2%;
    left: 2%;
    z-index: 999;
    opacity: 0;
}
nav ul li {
    list-style: none;
    font-size: 40px;
    transition: .7s;
}

nav ul li:hover {
    color: gray;
}
/* main-settings */
main {
    min-height: 800vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
section {
    position: relative;
    color: #333;
    width: 100%;
}
.wrapper {
    position: relative;
    width: 70%;
    height: max-content;
    margin: 0 auto;
}
.wrapper  h1 {
    position: relative;
    font-size: 150px;
    font-weight: 100;
    width: max-content;
}
h3 {
    font-weight: 100;
}
h1 a {
    font-size: 50px;
    transition: .5s;
}
h1 a:hover {
    font-size: 70px;
}
.wrapper p {
    line-height: 75px;
}
/* top-settings */
.top > .wrapper > h1 {
    position: relative;
    display: block;
    width: 1015px;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 1s steps(100, end);
    animation-fill-mode: forwards;
}

.top > .wrapper > h1::after {
    content: '';
    position: absolute;
    top: 35px;
    right: 0px;
    display: inline-block;
    width: 10px;
    height: 150px;
    background-color: #333;
    animation: typing-bar;
    animation-duration: .8s;
    animation-iteration-count: infinite;
}
.logo, .block {
    position: absolute;
    right: -10%;
    top: -200%;
    height: 85vh;
    width: 550px;
    z-index: -1;
}
.top > .wrapper > .logo {
    filter: grayscale(1);
    opacity: 0;
    animation: top-image;
    animation-fill-mode: forwards;
    animation-delay: 2.7s;
}
.top > .wrapper > .block {
    animation: block-remove;
    animation-delay: 3.5s;
    animation-fill-mode: forwards;
}
.block::after {
    content: '';
    top: 0;
    left: 0;
    position: absolute;
    width: 0%;
    height: 100%;
    background: #a5a5a5;
    animation: rev-block 1.5s cubic-bezier(0.19, 1, 0.22, 1) forwards;
    animation-delay: 2s;
}
.logo img {
    height: 100%;
}
.gray {
    color: gray;
}

/* About-settings */
.about > .wrapper > h1 {
    margin-bottom: 100px;
    font-size: 120px;
}
.about > .wrapper > p {
    line-height: 45px;
}
.about > img {
    position: absolute;
    top: 3%;
    right: 40%;
    object-fit: contain;
    height: 50%;
    z-index: -1;
}
/* WebDesigns-settings */
.designs > .photos {
    position: absolute;
    bottom: 10%;
    right: 10%;
    width: 850px;
    height: 650px;
    background-color: #222;
}
.designs h1, .skill h1 {
    margin: 100px 0px;
    font-size: 120px;
}
.designs p, .skill p {
    line-height: 45px;
    margin-bottom: 20px;
}
.designs button {
    cursor: pointer;
    position: absolute;
    top: 10%;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: none;
    background-color: rgba(255, 255, 255, 0.062);
    color: #fff;
    font-weight: bold;
    width: 200px;
    height: 100px;
    font-size: 20px;
    transition: .5s;
}
.designs button:hover {
   background-color: rgba(255, 255, 255, 0.158);
}
.designs button p {
    margin: 0px;
}
.slide {
    overflow: hidden;
    height: 100%;
    width: 100%;
    filter: drop-shadow(2px 4px 6px black);
}
.sliders {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
}
.sliders .image-container {
    width: 50%;
    height: 50%;
    min-width: 425px;
    min-height: 215px;
    overflow: hidden;
}
.sliders img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: .5s;
}
.sliders img:hover {
    transform: scale(1.1);
}

.skill, .designs{
    background-color: #222;
    color: #fff;
    height: 100vh;
}

.fade {
    opacity: 0;
    animation: fade;
    animation-duration: 1s;
    animation-delay: 1.2s;
    animation-fill-mode: forwards;
}
/* Skill-settings */
.skill > .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.skill h1 {
    font-weight: 100;
}
.skill .left-container,
.skill .right-container {
    width: 48%;
    min-width: 480px;
    height: 100%;
}
.right-container p:first-child {
    margin-top: 125px;
    margin-bottom: 130px;
}
.skill > .wrapper p > span {
    display: inline-block;
    width: 200px;
    font-weight: bold;
}
.skill > img {
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
.java-img {
    bottom: 25%;
    right: -15%;
}
.mySql-img {
    bottom: 30%;
    left: 20%;
}
.ruby-img {
    bottom: 15%;
    right: 40%;
}
.skill > .view-img {
    bottom: -30%;
    left: 10%;
    height: 200px;
    width: 200px;
    object-fit: contain;
}

/* footer-settings */
.end-msg {
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 2%;
    width: 100%;
}
.end-msg p {
    position: relative;
    text-align: center;
    width: max-content;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
}

.end-msg p::before, .end-msg p::after {
    content: '';
    position: absolute;
    bottom: 0;
    display: inline-block;
    width: 0%;
    height: 2px;
    background-color: #222;
    transition: .5s;
}
.end-msg p::before {
    right: 50%;
}
.end-msg p::after {
    left: 50%;
}
.end-msg p:hover::after,.end-msg p:hover::before {
    width: 50%;
}
/* common-settings */
.about > .wrapper  h1::after,
.designs > .wrapper  h1::after,
.skill > .wrapper  h1::after {
    content: '';
    position: absolute;
    bottom: 25%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #222;
    transition: .8s;
}
.designs > .wrapper  h1::after,
.skill > .wrapper  h1::after {
    background-color: #fff;
}

@keyframes typing {
    from {
        width: 0;
        visibility: visible;
    }
    to {
        visibility: visible;
    }
}
@keyframes typing-bar {
    0% { 
        opacity: 0;
    }
    100% { 
        opacity: 1;
    }
}
@keyframes fade {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes rev-block {
     0% {
          left: 0;
          width: 0%;
     }
     50% {
          left: 0;
          width: 100%;
     }
     100% {
          left: 100%;
          width: 0%;
          display: none;
     }
}
@keyframes top-image {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes block-remove {
    0% {
        display: block;
        z-index: 1;
        transform: scale(1);
    }
    100% {
        display: none !important;
        z-index: -1 !important;
        transform: scale(0);
    }
}
@keyframes ink {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    5% {
        opacity: 1;
        transform: scale(3);        
    }
    100% {
        opacity: 1;
        transform: scale(5);
    }
}
