html {
    height: 100%;
    overflow: hidden;
}
body {
    margin: 0;
    padding: 0;
    perspective: 1px;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;

}
nav {
    box-sizing: border-box;
    min-height: 100vh;
    padding: 10vw 0 5vw;
    position: relative;
    transform-style: inherit;
    widows: 100vw;
}

nav h1 {
    margin-top: -100px;
}

nav, nav:before {
    background: 50% 50% / cover;
}

nav::before {
   bottom:0;
   content: "";
   left:0;
   position: absolute;
   right: 0;
   top: 0;
   display: block;
   background-image: url(../images/bg3.jpg);
   background-size: cover;
   transform-origin: center center 0;
   transform: translateZ(-1px) scale(2);
   z-index: -1;
   min-height: 100vh;

}
nav * {
    font-weight: normal;
    margin: 0;
}