* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Yu Mincho Light','YuMincho','Yu Mincho','游明朝体','ヒラギノ明朝 ProN','Hiragino Mincho ProN',sans-serif;
}
main {
    min-height: 100vh;
    background-color: #222;
    color: #fff;
}
.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 1425px;
    margin: 0 auto;
    height: 100%;
}
.left-container, .right-container {
    width: 50%;
    opacity: 0;
    animation-name: container-animation;
    animation-duration: 1s;
    animation-delay: .5s;
    animation-fill-mode: forwards;
}
.left-container {
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 25vh;
    margin-left: 273px;
    padding: 20px;
}
h1,h3 {
    position: relative;
    font-weight: 100;
    width: max-content;
}
.left-container h1 {
    font-size: 48px;
}
.left-container h3 {
    margin-top: 120px;
    font-size: 36px;
}
.left-container p {
    font-size: 16px;
    margin-top: 50px;
    line-height: 36px;
    width: 600px;
}
.theme-msg {
    display: none;
}
.prev {
    display: block;
}
button {
    margin-top: 50px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: none;
    background-color: rgba(255, 255, 255, 0.062);
    color: #fff;
    font-weight: bold;
    width: 120px;
    height: 50px;
    font-size: 16px;
    transition: .7s;
    opacity: 0;
}
button:hover {
   background-color: rgba(255, 255, 255, 0.158);
}
.right-container {
    position: relative;
    z-index: 999;
}
.right-container img {
    cursor: pointer;
    width: 100%;
    margin: 10px 0px;
    transition: .7s;
}
.right-container img.on {
    filter: contrast(0.5);
}

h1::after {
    content: '';
    position: absolute;
    bottom: 25%;
    left: 0;
    width: 0%;
    height: 1px;
    background-color: #fff;
    animation-name: bottom-line;
    animation-duration: 1s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
}


.prev, .theme-title {
    opacity: 0;
    transition: .5s;
}
.fade-out {
    opacity: 0;
}
.fade-in {
    opacity: 1;
}

@keyframes container-animation {
    0% {
        opacity: 0;
        transform: translateY(-200px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
@keyframes bottom-line {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

/***********************/
/* responsive-settings */
/***********************/
/* tablet */
@media only screen and (max-width:1367px) {
    .wrapper {
        width: 100%;
        margin: 0 auto;
        height: 100%;
    }
    .left-container {
        margin-left: 5vw;
    }
    .left-container p {
        width: 40vw;
    }
}

@media only screen and (max-width:1025px) {
    .left-container p {
        font-size: 14px;
    }
    .left-container h3 {
        margin-top: 100px;
        font-size: 28px;
    }
}

/* mobile */
@media only screen and (max-width:766px) {
    .left-container {
        position: relative;
        margin-top: 3vh;
        margin-left: unset;
        width: 100%;
    }
   .left-container h1 {
        font-size: 30px;
    }
    .left-container h3 {
        margin-top: 35vh;
        font-size: 20px;
    }
 
    .left-container p {
        width: 100%;
        font-size: 12px;
        margin-top: 0px;
        line-height: 30px;
    }
    .right-container {
        position: absolute;
        top: 13%;
        left: 0;
        display: flex;
        width: 100%;
        overflow-x: auto;
    }
}

@media only screen and (max-width:376px) {
    .left-container {
        position: relative;
        margin-top: 2vh;
        margin-left: unset;
        width: 100%;
    }
   .left-container h1 {
        font-size: 25px;
    }
    .left-container h3 {
        margin-top: 30vh;
        font-size: 18px;
    }
 
    .left-container p {
        width: 100%;
        font-size: 12px;
        margin-top: 0px;
        line-height: 25px;
    }
    .right-container {
        position: absolute;
        top: 12%;
        left: 0;
        display: flex;
        width: 100%;
        overflow-x: auto;
        height: 25vh;
    }
    .right-container img {
        object-fit: cover;
    }
    button {
        margin-top: 25px;
        font-weight: bold;
        width: 100px;
        height: 35px;
        font-size: 12px;
    }
}

