html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.wrapper {
    height: 100vh;
    width: 100%;
    background-color: #7e7e7e;
}

.image {
    position: absolute;
    bottom: 0%;
    left: 10%;
}

.text-slider-wrapper {
    width: 100%;
    height: 600px;
    top: 15%;
    background-color: #ffffff;
    padding-top: 50px;
}

.text-slider {
    margin: 0%;
    padding: 0%;
    height: 100%;

}

.text-slide h1 {
    color: #333;
    font-size: 64px;
    font-family: "Cinzel";
    font-weight: lighter;
    text-transform: uppercase;
    padding-left: 15%;
}

p {
    padding-left: 15%;
    font-family: "Cinzel";
}

.overlay {
    position: absolute;
    transform: rotate(45deg);
    height: 770px;
    width: 700px;
    background-color: #fff;
    top: -50px;
    left: -180px;
}


@media(max-width: 990px) {
    .text-slide h1 {
          font-size: 30px !important;
    }

    .text-slider-wrapper {
          position: absolute;
          top: 20% !important;
    }
}