

html, body {
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

div {
    margin: 0;
    padding: 0;
}
body {
    background-color: #9ec3de;
    color: #fff;
}

.wrapper {
    width: 100%;
    height: 100vh;
    background: url(https://sheltertheanimation.com/resources/img/bg_introduction.jpg) no-repeat center 0;
    background-size: cover;
}

.fade-wrapper {
    background-color: #fff;
    color: #333;
    background-size: cover;
}

.container {
    width: 1080px;
    padding: 200px 0px;
    margin: 0 auto;
}

.flex {
    display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap;
}


p {
    width: 100%;
    overflow: hidden;
    font-size: 14px;
    white-space: nowrap;
}

.type {
    visibility: hidden;
    animation: typing 2s steps(100, end);
    animation-fill-mode: forwards;
}

.fade-in {
    transition: .8s;
}

h2 {
    animation: fade_in 1s;
}
.one {
    width: 66ch;
    animation-delay: 1s;
}

.two {
    width: 70ch;
    animation-delay: 3s;
}

.three {
    width: 77ch;
    animation-delay: 5s;
}

.four {
    width: 70ch;
    animation-delay: 7s;
}

.five {
    width: 40ch;
    animation-delay: 9s;
}

@media only screen and (max-width: 1081px) {
    .wrapper,.fade-wrapper {
        width: 100%;
        padding: 10px;
    }
    .container {
        width: 100%;
        padding: 100px 0px;
    }
    .image-container {
        flex-direction: column;
    }
    .images {
        width: 100%;
    }
    .flex {
        flex-direction: column;   
    }

    p {
        width: 100% !important;
    }
}

@keyframes typing {
    from {
        width: 0;
        visibility: visible;
    }
    to {
        visibility: visible;
    }
}

@keyframes fade_in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}