* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #000;
    animation: white-out;
    animation-delay: 3s;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(.97,.21,.88,.94);
}
main {
    height: 100vh;
    display: flex;
    justify-content: center;
    overflow: hidden;
}
svg {
    width: 100%;
    height: 100%;
    animation: rotate-and-scale;
    animation-delay: 3s;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(.97,.21,.88,.94);

}
.AoHcgWHP_0 {
    stroke-dasharray: 2828 2830;
    stroke-dashoffset: 2829;
    animation: AoHcgWHP_draw 3000ms linear 0ms forwards;
}

.AoHcgWHP_1 {
    stroke-dasharray: 2738 2740;
    stroke-dashoffset: 2739;
    animation: AoHcgWHP_draw 3000ms linear 0ms forwards;
}

.AoHcgWHP_2 {
    stroke-dasharray: 2696 2698;
    stroke-dashoffset: 2697;
    animation: AoHcgWHP_draw 3000ms linear 0ms forwards;
}

.AoHcgWHP_3 {
    stroke-dasharray: 2696 2698;
    stroke-dashoffset: 2697;
    animation: AoHcgWHP_draw 3000ms linear 0ms forwards;
}

.AoHcgWHP_4 {
    stroke-dasharray: 153 155;
    stroke-dashoffset: 154;
    animation: AoHcgWHP_draw 3000ms linear 0ms forwards;
}

.AoHcgWHP_5 {
    stroke-dasharray: 203 205;
    stroke-dashoffset: 204;
    animation: AoHcgWHP_draw 3000ms linear 0ms forwards;
}

.AoHcgWHP_6 {
    stroke-dasharray: 235 237;
    stroke-dashoffset: 236;
    animation: AoHcgWHP_draw 3000ms linear 0ms forwards;
}

.AoHcgWHP_7 {
    stroke-dasharray: 278 280;
    stroke-dashoffset: 279;
    animation: AoHcgWHP_draw 3000ms linear 0ms forwards;
}

.AoHcgWHP_8 {
    stroke-dasharray: 312 314;
    stroke-dashoffset: 313;
    animation: AoHcgWHP_draw 3000ms linear 0ms forwards;
}

.AoHcgWHP_9 {
    stroke-dasharray: 109 111;
    stroke-dashoffset: 110;
    animation: AoHcgWHP_draw 3000ms linear 0ms forwards;
}

.AoHcgWHP_10 {
    stroke-dasharray: 256 258;
    stroke-dashoffset: 257;
    animation: AoHcgWHP_draw 3000ms linear 0ms forwards;
}

.AoHcgWHP_11 {
    stroke-dasharray: 172 174;
    stroke-dashoffset: 173;
    animation: AoHcgWHP_draw 3000ms linear 0ms forwards;
}

.AoHcgWHP_12 {
    stroke-dasharray: 220 222;
    stroke-dashoffset: 221;
    animation: AoHcgWHP_draw 3000ms linear 0ms forwards;
}

.AoHcgWHP_13 {
    stroke-dasharray: 312 314;
    stroke-dashoffset: 313;
    animation: AoHcgWHP_draw 3000ms linear 0ms forwards;
}

.AoHcgWHP_14 {
    stroke-dasharray: 337 339;
    stroke-dashoffset: 338;
    animation: AoHcgWHP_draw 3000ms linear 0ms forwards;
}

.AoHcgWHP_15 {
    stroke-dasharray: 203 205;
    stroke-dashoffset: 204;
    animation: AoHcgWHP_draw 3000ms linear 0ms forwards;
}

.AoHcgWHP_16 {
    stroke-dasharray: 153 155;
    stroke-dashoffset: 154;
    animation: AoHcgWHP_draw 3000ms linear 0ms forwards;
}

.AoHcgWHP_17 {
    stroke-dasharray: 203 205;
    stroke-dashoffset: 204;
    animation: AoHcgWHP_draw 3000ms linear 0ms forwards;
}

.AoHcgWHP_18 {
    stroke-dasharray: 235 237;
    stroke-dashoffset: 236;
    animation: AoHcgWHP_draw 3000ms linear 0ms forwards;
}

.AoHcgWHP_19 {
    stroke-dasharray: 172 174;
    stroke-dashoffset: 173;
    animation: AoHcgWHP_draw 3000ms linear 0ms forwards;
}

.AoHcgWHP_20 {
    stroke-dasharray: 109 111;
    stroke-dashoffset: 110;
    animation: AoHcgWHP_draw 3000ms linear 0ms forwards;
}

.AoHcgWHP_21 {
    stroke-dasharray: 162 164;
    stroke-dashoffset: 163;
    animation: AoHcgWHP_draw 3000ms linear 0ms forwards;
}

.AoHcgWHP_22 {
    stroke-dasharray: 197 199;
    stroke-dashoffset: 198;
    animation: AoHcgWHP_draw 3000ms linear 0ms forwards;
}

.AoHcgWHP_23 {
    stroke-dasharray: 312 314;
    stroke-dashoffset: 313;
    animation: AoHcgWHP_draw 3000ms linear 0ms forwards;
}

.AoHcgWHP_24 {
    stroke-dasharray: 278 280;
    stroke-dashoffset: 279;
    animation: AoHcgWHP_draw 3000ms linear 0ms forwards;
}

.AoHcgWHP_25 {
    stroke-dasharray: 162 164;
    stroke-dashoffset: 163;
    animation: AoHcgWHP_draw 3000ms linear 0ms forwards;
}

.AoHcgWHP_26 {
    stroke-dasharray: 159 161;
    stroke-dashoffset: 160;
    animation: AoHcgWHP_draw 3000ms linear 0ms forwards;
}

.AoHcgWHP_27 {
    stroke-dasharray: 203 205;
    stroke-dashoffset: 204;
    animation: AoHcgWHP_draw 3000ms linear 0ms forwards;
}

.AoHcgWHP_28 {
    stroke-dasharray: 144 146;
    stroke-dashoffset: 145;
    animation: AoHcgWHP_draw 3000ms linear 0ms forwards;
}

.AoHcgWHP_29 {
    stroke-dasharray: 172 174;
    stroke-dashoffset: 173;
    animation: AoHcgWHP_draw 3000ms linear 0ms forwards;
}

.AoHcgWHP_30 {
    stroke-dasharray: 277 279;
    stroke-dashoffset: 278;
    animation: AoHcgWHP_draw 3000ms linear 0ms forwards;
}

.AoHcgWHP_31 {
    stroke-dasharray: 159 161;
    stroke-dashoffset: 160;
    animation: AoHcgWHP_draw 3000ms linear 0ms forwards;
}

.AoHcgWHP_32 {
    stroke-dasharray: 162 164;
    stroke-dashoffset: 163;
    animation: AoHcgWHP_draw 3000ms linear 0ms forwards;
}

.AoHcgWHP_33 {
    stroke-dasharray: 278 280;
    stroke-dashoffset: 279;
    animation: AoHcgWHP_draw 3000ms linear 0ms forwards;
}

.AoHcgWHP_34 {
    stroke-dasharray: 162 164;
    stroke-dashoffset: 163;
    animation: AoHcgWHP_draw 3000ms linear 0ms forwards;
}

.AoHcgWHP_35 {
    stroke-dasharray: 220 222;
    stroke-dashoffset: 221;
    animation: AoHcgWHP_draw 3000ms linear 0ms forwards;
}

.AoHcgWHP_36 {
    stroke-dasharray: 235 237;
    stroke-dashoffset: 236;
    animation: AoHcgWHP_draw 3000ms linear 0ms forwards;
}

.AoHcgWHP_37 {
    stroke-dasharray: 197 199;
    stroke-dashoffset: 198;
    animation: AoHcgWHP_draw 3000ms linear 0ms forwards;
}

.AoHcgWHP_38 {
    stroke-dasharray: 337 339;
    stroke-dashoffset: 338;
    animation: AoHcgWHP_draw 3000ms linear 0ms forwards;
}

.AoHcgWHP_39 {
    stroke-dasharray: 109 111;
    stroke-dashoffset: 110;
    animation: AoHcgWHP_draw 3000ms linear 0ms forwards;
}

.AoHcgWHP_40 {
    stroke-dasharray: 256 258;
    stroke-dashoffset: 257;
    animation: AoHcgWHP_draw 3000ms linear 0ms forwards;
}

.AoHcgWHP_41 {
    stroke-dasharray: 109 111;
    stroke-dashoffset: 110;
    animation: AoHcgWHP_draw 3000ms linear 0ms forwards;
}

.AoHcgWHP_42 {
    stroke-dasharray: 172 174;
    stroke-dashoffset: 173;
    animation: AoHcgWHP_draw 3000ms linear 0ms forwards;
}

.AoHcgWHP_43 {
    stroke-dasharray: 108 110;
    stroke-dashoffset: 109;
    animation: AoHcgWHP_draw 3000ms linear 0ms forwards;
}

.AoHcgWHP_44 {
    stroke-dasharray: 159 161;
    stroke-dashoffset: 160;
    animation: AoHcgWHP_draw 3000ms linear 0ms forwards;
}

.AoHcgWHP_45 {
    stroke-dasharray: 108 110;
    stroke-dashoffset: 109;
    animation: AoHcgWHP_draw 3000ms linear 0ms forwards;
}

.AoHcgWHP_46 {
    stroke-dasharray: 144 146;
    stroke-dashoffset: 145;
    animation: AoHcgWHP_draw 3000ms linear 0ms forwards;
}

.AoHcgWHP_47 {
    stroke-dasharray: 265 267;
    stroke-dashoffset: 266;
    animation: AoHcgWHP_draw 3000ms linear 0ms forwards;
}

.AoHcgWHP_48 {
    stroke-dasharray: 278 280;
    stroke-dashoffset: 279;
    animation: AoHcgWHP_draw 3000ms linear 0ms forwards;
}

.AoHcgWHP_49 {
    stroke-dasharray: 153 155;
    stroke-dashoffset: 154;
    animation: AoHcgWHP_draw 3000ms linear 0ms forwards;
}

.AoHcgWHP_50 {
    stroke-dasharray: 109 111;
    stroke-dashoffset: 110;
    animation: AoHcgWHP_draw 3000ms linear 0ms forwards;
}

.AoHcgWHP_51 {
    stroke-dasharray: 162 164;
    stroke-dashoffset: 163;
    animation: AoHcgWHP_draw 3000ms linear 0ms forwards;
}

.AoHcgWHP_52 {
    stroke-dasharray: 172 174;
    stroke-dashoffset: 173;
    animation: AoHcgWHP_draw 3000ms linear 0ms forwards;
}

.AoHcgWHP_53 {
    stroke-dasharray: 277 279;
    stroke-dashoffset: 278;
    animation: AoHcgWHP_draw 3000ms linear 0ms forwards;
}

.AoHcgWHP_54 {
    stroke-dasharray: 337 339;
    stroke-dashoffset: 338;
    animation: AoHcgWHP_draw 3000ms linear 0ms forwards;
}

.AoHcgWHP_55 {
    stroke-dasharray: 337 339;
    stroke-dashoffset: 338;
    animation: AoHcgWHP_draw 3000ms linear 0ms forwards;
}

.AoHcgWHP_56 {
    stroke-dasharray: 203 205;
    stroke-dashoffset: 204;
    animation: AoHcgWHP_draw 3000ms linear 0ms forwards;
}

.AoHcgWHP_57 {
    stroke-dasharray: 278 280;
    stroke-dashoffset: 279;
    animation: AoHcgWHP_draw 3000ms linear 0ms forwards;
}

.AoHcgWHP_58 {
    stroke-dasharray: 109 111;
    stroke-dashoffset: 110;
    animation: AoHcgWHP_draw 3000ms linear 0ms forwards;
}

.AoHcgWHP_59 {
    stroke-dasharray: 220 222;
    stroke-dashoffset: 221;
    animation: AoHcgWHP_draw 3000ms linear 0ms forwards;
}

.AoHcgWHP_60 {
    stroke-dasharray: 172 174;
    stroke-dashoffset: 173;
    animation: AoHcgWHP_draw 3000ms linear 0ms forwards;
}

.AoHcgWHP_61 {
    stroke-dasharray: 312 314;
    stroke-dashoffset: 313;
    animation: AoHcgWHP_draw 3000ms linear 0ms forwards;
}

.AoHcgWHP_62 {
    stroke-dasharray: 203 205;
    stroke-dashoffset: 204;
    animation: AoHcgWHP_draw 3000ms linear 0ms forwards;
}

.AoHcgWHP_63 {
    stroke-dasharray: 337 339;
    stroke-dashoffset: 338;
    animation: AoHcgWHP_draw 3000ms linear 0ms forwards;
}

.AoHcgWHP_64 {
    stroke-dasharray: 162 164;
    stroke-dashoffset: 163;
    animation: AoHcgWHP_draw 3000ms linear 0ms forwards;
}

.AoHcgWHP_65 {
    stroke-dasharray: 278 280;
    stroke-dashoffset: 279;
    animation: AoHcgWHP_draw 3000ms linear 0ms forwards;
}

.AoHcgWHP_66 {
    stroke-dasharray: 312 314;
    stroke-dashoffset: 313;
    animation: AoHcgWHP_draw 3000ms linear 0ms forwards;
}

.AoHcgWHP_67 {
    stroke-dasharray: 256 258;
    stroke-dashoffset: 257;
    animation: AoHcgWHP_draw 3000ms linear 0ms forwards;
}

.AoHcgWHP_68 {
    stroke-dasharray: 203 205;
    stroke-dashoffset: 204;
    animation: AoHcgWHP_draw 3000ms linear 0ms forwards;
}

.AoHcgWHP_69 {
    stroke-dasharray: 235 237;
    stroke-dashoffset: 236;
    animation: AoHcgWHP_draw 3000ms linear 0ms forwards;
}

.AoHcgWHP_70 {
    stroke-dasharray: 108 110;
    stroke-dashoffset: 109;
    animation: AoHcgWHP_draw 3000ms linear 0ms forwards;
}

.AoHcgWHP_71 {
    stroke-dasharray: 144 146;
    stroke-dashoffset: 145;
    animation: AoHcgWHP_draw 3000ms linear 0ms forwards;
}

.AoHcgWHP_72 {
    stroke-dasharray: 159 161;
    stroke-dashoffset: 160;
    animation: AoHcgWHP_draw 3000ms linear 0ms forwards;
}

.AoHcgWHP_73 {
    stroke-dasharray: 109 111;
    stroke-dashoffset: 110;
    animation: AoHcgWHP_draw 3000ms linear 0ms forwards;
}

.AoHcgWHP_74 {
    stroke-dasharray: 337 339;
    stroke-dashoffset: 338;
    animation: AoHcgWHP_draw 3000ms linear 0ms forwards;
}

.AoHcgWHP_75 {
    stroke-dasharray: 109 111;
    stroke-dashoffset: 110;
    animation: AoHcgWHP_draw 3000ms linear 0ms forwards;
}

.AoHcgWHP_76 {
    stroke-dasharray: 337 339;
    stroke-dashoffset: 338;
    animation: AoHcgWHP_draw 3000ms linear 0ms forwards;
}

.AoHcgWHP_77 {
    stroke-dasharray: 220 222;
    stroke-dashoffset: 221;
    animation: AoHcgWHP_draw 3000ms linear 0ms forwards;
}

.AoHcgWHP_78 {
    stroke-dasharray: 144 146;
    stroke-dashoffset: 145;
    animation: AoHcgWHP_draw 3000ms linear 0ms forwards;
}

.AoHcgWHP_79 {
    stroke-dasharray: 162 164;
    stroke-dashoffset: 163;
    animation: AoHcgWHP_draw 3000ms linear 0ms forwards;
}

.AoHcgWHP_80 {
    stroke-dasharray: 220 222;
    stroke-dashoffset: 221;
    animation: AoHcgWHP_draw 3000ms linear 0ms forwards;
}

.AoHcgWHP_81 {
    stroke-dasharray: 162 164;
    stroke-dashoffset: 163;
    animation: AoHcgWHP_draw 3000ms linear 0ms forwards;
}

.AoHcgWHP_82 {
    stroke-dasharray: 2370 2372;
    stroke-dashoffset: 2371;
    animation: AoHcgWHP_draw 3000ms linear 0ms forwards;
}

.AoHcgWHP_83 {
    stroke-dasharray: 2246 2248;
    stroke-dashoffset: 2247;
    animation: AoHcgWHP_draw 3000ms linear 0ms forwards;
}

.AoHcgWHP_84 {
    stroke-dasharray: 2170 2172;
    stroke-dashoffset: 2171;
    animation: AoHcgWHP_draw 3000ms linear 0ms forwards;
}

.AoHcgWHP_85 {
    stroke-dasharray: 1958 1960;
    stroke-dashoffset: 1959;
    animation: AoHcgWHP_draw 3000ms linear 0ms forwards;
}

.AoHcgWHP_86 {
    stroke-dasharray: 3210 3212;
    stroke-dashoffset: 3211;
    animation: AoHcgWHP_draw 3000ms linear 0ms forwards;
}

.AoHcgWHP_87 {
    stroke-dasharray: 3200 3202;
    stroke-dashoffset: 3201;
    animation: AoHcgWHP_draw 3000ms linear 0ms forwards;
}

@keyframes AoHcgWHP_draw {
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes AoHcgWHP_fade {
    0% {
        stroke-opacity: 1;
    }

    94.44444444444444% {
        stroke-opacity: 1;
    }

    100% {
        stroke-opacity: 0;
    }
}

@keyframes rotate-and-scale {
    0% {
        transform: rotate(0deg) scale(1.0);
    }
    100% {
        transform: rotate(3600deg) scale(2.0);
    }
}
@keyframes white-out {
    0% {
        background-color: #000;
    }
    100% {
        background-color: #fff;
    }
}