* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans JP", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "游ゴシック", YuGothic, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", Helvetica, Arial, sans-serif;
}
.g-font {
    font-family: 'Abril Fatface';
    letter-spacing: 2px;
}
/* fade-in-settings */
.animate {
    opacity: 0;
}
/* navigation-settings*/
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 1px 1px #22222229;
    z-index: 9;
    background-color: #fff;
    display: none;
    transition: .5s;
    transform: translateX(-100vw);
}
.on {
    transform: translateX(0);
}
.nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}
.nav-wrapper > .logo{
    height: 120px;
    position: relative;
    z-index: 2;
}
.logo > img {
    height: 100%;
}
nav ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 100vh;
}
nav ul li {
    width: 100%;
    cursor: pointer;
    list-style: none;
    padding: 0px 30px;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
}
nav ul li:last-child {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav ul li:last-child div {
    width: 50%;
}

button {
    position: fixed;
    top: 0;
    right: 0;
    cursor: pointer;
    background: none;
    border:unset;
    color: orange;
    font-weight: bold;
    z-index: 999;
    display: none;
}
button :focus {
    outline: 0;
}
button span {
    display: block;
    height: 2px;
    width: 50px;
    background-color: orange;
    margin: 10px 0px;
    transition: .5s;
}
button .close {
    display: none;
}
button.on span:first-child {
    position: absolute;
    top: 15%;
    left: 0;
    transform: rotate(45deg);
}
button.on span:nth-child(2) {
    opacity: 0;
}
button.on span:nth-child(3) {
    position: absolute;
    top: 15%;
    left: 0;
    transform: rotate(135deg);
}
button.on p {
    margin-top: 30px;
    display: none;
}
button.on p.close {
    display: block;
}
a {
    text-decoration: none;
    color: unset;
}
.middle {
    color: orange;
    font-size: 20px;
}
/* contents-settings */
main {
    min-height: 100vh;
}
section {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.opening {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: #fff;
    background-image: url(../imgaes/site-bg.png);
}
.opening-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    height: 100%;
    width: 100%;
    background: url('../imgaes/top-bg.png') no-repeat;
    background-size: cover;
}
.opening-wrapper > img {
    display: block;
    margin: 0px auto;
    height: 350px;
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}
.opening-wrapper h1, .opening-wrapper h3 {
    width: 100%;
    white-space: nowrap;
    text-align: center;
    height: max-content;
    margin-top: 50px;
    opacity: 0;
    animation: typing;
    animation-duration: 1s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}
.opening-wrapper h1 {
    font-size: 72px;
}
.opening-wrapper h3 {
    font-size: 72px;
}
h3 span {
    color: orange;
}

/* top-setting */
.top .image-container {
    width: 100%;
    height: 60vh;
}
.top .image-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: blur(3px) opacity(0.5);
}
.top-wrapper {
    width: 80%;
    margin: 100px auto;
}
.top-wrapper h1, .top-wrapper h3 {
    width: 100%;
    text-align: center;
}
.top-wrapper h1 {
    font-size: 48px;
}
.top-wrapper h1 span {
    font-size: 64px;
    background-color: unset;
    color: orange;
    padding: unset;
    border-radius: unset;
}
.top-wrapper h3 {
    font-size: 32px;
}
.line-pop {
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    width: 230px;
    justify-content: flex-end;
    bottom: 25%;
    right: -10px;
    background-color: #fff;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 4px 4px 4px 2px #aaaaaa69;
    z-index: 999;
    font-weight: bold;

}
/* about-setting */
section.about {
    background: url(../imgaes/site-bg.png);
    height: max-content;
    justify-content: center;
}
.left-container, .right-container {
    padding-top: 100px;
    width: 40%;
    height: max-content;
}
section.about .left-container,
section.about .right-container {
    margin: 0px 1vw;
}
.left-container h1 {
    font-size: 48px;
    color: orange;
}
.left-container h3 {
    font-size: 32px;
    color: orange;
}
section.about .left-container p {
    font-size: 18px;
    font-weight: 400;
    margin-top: 50px;
    line-height: 2;
    background-color: #fff;
    padding: 10px;
    border-radius: 15px;
}
section.about p span {
    color: #3d773f;
    line-height: 75px;
    font-weight: bold;
}
.right-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
}
.image-wrapper {
    width: 365px;
    height: 250px;
    padding: 10px;
    margin-bottom: 25px;
    background-color: #3d773f;
    border-radius: 10px;
}
.right-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.bottom-container {
    width: 100%;
    height: 20vh;
    margin: 50px 0px;
}
.line {
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 15px;
    padding: 10px;
}
.line p {
    font-weight: bold;
    font-size: 20px;
    width: 100%;
    text-align: center;
    margin: 30px 0px;
}
/* course-setting */
section.course {
    min-height: 100vh;
    background: url(../imgaes/top-bg.png);
}
.course-wrapper {
    width: 65%;
    margin: 0px auto 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.course-wrapper h1 {
    position: relative;
    font-size: 32px;
    color: orange;
    width: 100%;
    text-align: center;
    margin: 50px 0px;
    line-height: 1;
}
.course-wrapper h1 span {
    font-size: 16px;
    color: #222;
    width: 150px;
}
.lesson-course {
    width: 100%;
    margin-bottom: 25px;
    padding: 10px;
    border-bottom: 1px solid #eaeaea;
}
.lesson-course h3 {
    margin-bottom: 15px;
}
.lesson-course p {
    font-size: 14px;
}
h3.custom {
    color: #B85CFF;
}
h3.regular {
    color: #73cc2f;
}
label.regular {
    color: #fff;
    font-weight: 400;
    background-color: #73cc2f;
    padding: 5px 10px;
}
label.custom {
    color: #fff;
    font-weight: 400;
    background-color: #B85CFF;
    padding: 5px 10px;
}
.lesson-course label {
    color: #222;
    font-weight: bold;
    font-size: 16px;
    display: inline-block;
    width: 145px;
    margin-right: 15px;
}
.lesson-course span {
    font-weight: bold;
    font-size: 24px;
    color: orange;
}
.course-container {
    min-width: 315px;
    width: 20vw;
    min-height: 500px;
    font-size: 14px;
    border-radius: 15px;
    border: 1px solid #eaeaea;
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
}
.course-header {
    width: 100%;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    border-bottom: solid 1px #333;
    font-size: 16px;
}
.course-body {
    padding: 10px;
    background-color: #fff;
    margin-top: 50px;
}
.course-body ul li {
    list-style: none;
}
.course-body ul li p {
    line-height: 2;
}
.course-body ul li p.info {
    line-height: 1;
}
.course-body ul li:first-child {
    min-height: 200px;
    margin-bottom: 50px;
}
.course-body ul li:last-child {
    margin-top: 20px;
}

li .label {
    display: inline-block;
    width: 160px;
    color: #222;
    font-weight: bold;
    font-size: 16px;
    margin-right: 10px;
}
li .impact {
    font-weight: bold;
    font-size: 24px;
    color: orange;
}
.kids-lesson {
    color: #73cc2f;
    border-color: #73cc2f;
}
.el-lesson {
    color: #53c9d2;
    border-color: #53c9d2;
}
.jh-lesson {
    color: #5CA3FF;
    border-color: #5CA3FF;
}
.hi-lesson {
    color: #B85CFF;
    border-color: #B85CFF;
}
.ca-lesson {
    color: #FF5CA3;
    border-color: #FF5CA3;
}
.ad-lesson {
    color: #FF675C;
    border-color: #FF675C;
}
/* campaign-settings */
section.campaign {
    margin: 100px 0px;
}
.campaign-wrapper {
    margin-top: 100px;
    width: 65%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.campaign-wrapper h1 {
    font-size: 32px;
    width: 100%;
    text-align: center;
    color: orange;
    margin-bottom: 100px;
}
.campaign-wrapper .img-container {
    width: 45%;
    overflow: hidden;
    filter: drop-shadow(2px 4px 6px #2222);
}
.img-container img {
    width: 100%;
    object-fit: cover;
}

/* infomation-settings */
section.infomation {
    min-height: 100vh;
    background: url(../imgaes/site-bg.png);
}
.infomation-wrapper {
    margin-top: 100px;
    width: 65%;
    margin: 0 auto;
    margin-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.infomation-wrapper h1 {
    font-size: 32px;
    width: 100%;
    text-align: center;
    margin: 100px 0px;
}
.infomation-wrapper .left-container,
.infomation-wrapper .right-container {
    width: 50%;
    padding: unset;
}
.infomation .line {
    width: 100%;
    font-weight: bold;
}
.infomation .face-book {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-top: 50px;
    font-weight: bold;
    padding: 10px;
    background-color: #fff;
    border-radius: 15px;
}
.face-book p {
    margin: 30px 0px;
}
/* footer-settings */
footer {
    min-height: 30vh;
    background-color: #fff;
}
.footer-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    color: #222;
    width: 65%;
    height: 30vh;
    margin: 0 auto;
}
footer .left-container,
footer .right-container {
    width: 45%;
    padding: unset;
}
footer img {
    height: 15vh;
}
footer .right-container p {
    margin-bottom: 30px;
}
/* animation-settings */
@keyframes top-animation {
    0% {
        opacity: 0;
        transform: translateY(-300px) scale(1);
    }
    50% {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
    90% {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(0.1);
    }
}
@keyframes display-none {
    0% {
        z-index: 999;
        transform: scale(1);
    }
    100% {
        z-index: -1;
        display: none;
        transform: scale(0);
    }
}
@keyframes typing {
    0% {
        opacity: 0;
        transform: translateY(200px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}