@font-face {
    font-family: 'MainFont';
    src: url(../font/bokutachi.otf);
}
@font-face {
    font-family: 'point';
    src: url(../font/Makinas-4-Flat.otf)
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
    background-color: #ffa676;
    font-family: 'Mainfont';
}
/* navigation-setting */
nav {
    position: fixed;
    width: max-content;
    top: 1%;
    right: 1%;
    z-index: 3;
}
.nav-wrapper {
    position: relative;
    display: flex;
    width: 100%;
    height: 100px;
    align-items: center;
}
.nav-wrapper div {
    position: absolute;
    top: 1%;
    right: 1%;
    transition: .3s;
}

.buy-btn, .account-btn, .menu-btn,
.login-btn, .edit-btn {
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;        
    height: 65px;
    width: 65px;
    border-radius: 50%;
    border-width: 0px;
    border-style: unset;
    background-color: #ffcb6c;
    box-shadow: 2px 4px 1px 0px #cc855e;
    z-index: 4;
    color: #fff;
    outline: none;
}
.menu-btn {
    flex-wrap: wrap;
    padding: 15px 0px;
    z-index: 5;
}
.menu-line {
    display: inline-block;
    height: 4px;
    width: 40px;
    background-color: #fff;
    transition: .3s;
}
/* menu-open setting */
.on .menu-line:nth-child(2) {
    opacity: 0;
}
.on .menu-line:first-child, .on .menu-line:last-child {
    position: absolute;
    top: 45%;
}
.on .menu-line:first-child {
    transform: rotate(45deg);
}
.on .menu-line:last-child {
    transform: rotate(-45deg);
}
.on .buy-btn {
    transform: translate(-75px,30px);
}
.on .account-btn {
    transform: translate(0px,85px);
}
.on .login-btn {
    transform: translate(-75px,135px);
}
.on .edit-btn {
    transform: translate(0px,175px);
}
/* form-setting */
.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #0000009d;
    transition: .3s;
    transform: scale(0);
    z-index: 999;
}
.modal.on {
    transform: scale(1);
}
.form {
    width: 90%;
    max-width: 414px;
    background-color: #fff;
}
.login-form, .account-form, .account-edit-form {
    display: none;
    transform: scale(0);
    transition: .3s;
} 
.login-form.on, .account-form.on, .account-edit-form.on {
    display: block;
    transform: scale(1);
}
.form-header, .form-remarks, .form-body {
    padding: 10px;
    border-style: solid;
    border-color: rgb(255, 200, 142);
    border-width: 0px 0px 1px 0px;
}
.form-header {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.close-modal-btn {
    position: relative;
    width: 30px;
    height: 30px;
}
.close-modal-btn span {
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 0;
    width: 20px;
    height: 5px;
    background-color: #aaa;
}
.close-modal-btn span:first-child {
    transform: rotate(45deg);
}
.close-modal-btn span:last-child {
    transform: rotate(-45deg);
}
.form-remarks {
    font-size: 13px;
    border-bottom-width: 1px;
    border-color: #eee;
}
.form-body {
    height: 300px;
    overflow-y: auto;
}
.form-body > div {
    margin: 20px 0px;
    display: flex;
    flex-wrap: wrap;
}
.form-body > div > input {
    width: 100%;
    border-style: solid;
    border-radius: 10px;
    border-width: 1px;
    border-color: #eee;
    height: 50px;
}
.form-body > div > label {
    display: inline-block;
    width: 100%;
    margin-bottom: 5px;
}
.form-body > .form-footer {
    margin-top: 30px;
    margin-bottom: 10px;
}
.form-footer > div {
    cursor: pointer;
    width: max-content;
    padding: 10px 20px;
    color: #fff;
    border-radius: 10px;
    background-color: #ffcb6c;
    margin: 0 auto;
}
.high-light {
    cursor: pointer;
    font-weight: bold;
    color: orange;
}


/* top-setting */
main {
    position: relative;
    padding-bottom: 200px;
    z-index: 2;
}
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffa676;
}
.main-box {
    position: relative;
    display: flex;
    justify-content: center;
}
.title {
    font-family: 'MainFont';
    position: absolute;
    top: -15%;
    left: -10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    color: orange;
    padding: 20px;
    width: 300px;
    height: 200px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 4px 8px 1px 1px #cc855e;
    opacity: 0;
    transform: rotate(-20deg);
    animation: vibration;
    animation-duration: 2s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}
.title::before {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 100px;
    margin-top: -15px;
    border: 15px solid transparent;
    border-left: 15px solid #fff;
    z-index: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.point {
    font-family: 'point';
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -10%;
    right: 0%;
    font-size: 50px;
    color: orange;
    padding: 20px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #fff;
    writing-mode: vertical-rl;
    box-shadow: 4px 8px 1px 1px #cc855e;
    opacity: 0;
    animation: rotate;
    animation-duration: 2s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
}
.top-image {
    animation: fade-in;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
.arrow-nav {
    position: absolute;
    bottom: -65%;
    left: 45%;
    opacity: 0;
    animation: arrow;
    animation-delay: 5.5s;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
.arrow-nav span {
    position: absolute;
    display: inline-block;
    width: 40px;
    height: 40px;
    border-style: solid;
    border-width: 1px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-color: #fff;
    transform: rotate(-45deg);
    animation: scaleUp;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
.arrow-nav span:last-child {
    bottom: 1%;
}

/* recipe section-setting */
section.recipe {
    background-color: #fff;
    align-items: unset;
    flex-wrap: wrap;
    height: auto;
    padding-bottom: 100px;
}
.recipe-title {
    margin-top: 100px;
    width: 100%;
    text-align: center;
}
.recipe-title h1{
    position: relative;
    width: fit-content;
    margin: 0 auto;
}
.recipe-title h1::before {
    content: 'オススメ！';
    position: absolute;
    top: -10px;
    left: -25%;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    background-color: #ffa676;
    padding: 3px;
    width: fit-content;
    transform: rotate(-20deg);
    animation: vibration-loop;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1080px;
    width: 100%;
    margin-top: 100px;
}
.image-container, .recipe-container {
    width: 45%;
    min-width: 320px;
}
.image-container {
    overflow: hidden;
    border-radius: 30px;
}

.image-container img {
    object-fit: cover;
    width: 100%;
    max-width: 640px;
    transition: .3s;
}
.image-container img:hover {
    transform: scale(1.1);
}
.cook-name {
    font-size: 20px;
    margin: 10px;
    position: relative;
    z-index: 2;
    width: fit-content;
    transition: 1s;
}
.cook-name::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 5px;
    background-color: orange;
    border-radius: 2.5px;
    z-index: -1;
    transition: 1s;
}
.on.cook-name::before {
    width: 100%;
}
.ingredient {
    font-size: 18px;
    font-weight: bold;
}
.ingredient-list li {
    margin: 10px 0px;
    font-weight: bold;
}
.procedure {
    font-size: 13px;
    line-height: 25px;
}

/* footer-setting */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 200px;
    width: 100%;
    background-color: #ffa676;
    z-index: 1;
}
.footer-image {
    height: 60px;
}
/* animation-setting */
@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(-300px) scale(0.8);   
    }
    30% {
        opacity: 1;
        transform: translateY(0px) scale(0.8);
    }
    80% {
        transform: translateY(100px) scale(0.8);
    }
    100% {
        transform: translateY(0px) scale(1);
    }
}
@keyframes vibration {
    0% {
        opacity: 1;
        transform: rotate(-20deg);
    }
    10% {
        transform: rotate(-10deg);
    }
    20% {
        transform: rotate(-20deg);
    }
    30% {
        transform: rotate(-10deg);
    }
    40% {
        transform: rotate(-20deg);
    }
    100% {
        opacity: 1;
        transform: rotate(-20deg);
    }
}
@keyframes vibration-loop {
    0% {
        opacity: 1;
        transform: rotate(-20deg);
    }
    3% {
        transform: rotate(-10deg);
    }
    5% {
        transform: rotate(-20deg);
    }
    7% {
        transform: rotate(-10deg);
    }
    9% {
        transform: rotate(-20deg);
    }
    100% {
        opacity: 1;
        transform: rotate(-20deg);
    }
}

@keyframes rotate {
    0% {
        opacity: 1;
        transform: translateX(-300px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px) rotate(360deg);
    }
}

@keyframes arrow {
    0% {
        opacity: 1;
        transform: translateY(-100px);
    }
    100% {
        opacity: 1;
        transform: translateY(100px);
    }
}

@keyframes scaleUp {
    0% {
        transform: scale(1) rotate(-45deg);
    }
    100% {
        transform: scale(1.1) rotate(-45deg);
    }
}