body {
    width: 100vw;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    background-color: #333333;
}

svg {
    width: 50%;
    height: 50%;
}

.wrapper {
    width: 75%;
    margin: 0 auto;
    text-align: center;
}