header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    height: 55px;
    width: 100%;
    background-color: $theme-color;
    z-index: 999;
    .logo-area {
        height: 100%;
        padding-left: 10px;
        img {
            height: 100%;
            width: 35vw;
            object-fit: contain;
        }
    }
    .contact-area {
        display: flex;
        align-items: center;
        a , .mail {
            display: flex;
            align-items: center;            
            background-color: #000;
            border-radius: 5px;
            color: #fff;
            font-size: 10px;
            height: max-content;
            img {
                width: 20px;
                height: 20px;
                object-fit: contain;
            }
        }
        a {
            text-decoration: none;
            width: 20vw;
            min-width: 70px;
            padding: 5px;

        }
        .mail {
            padding: 5px;
            width: 32vw;
            min-width: 120px;
            margin: 0px 5px;
            img {
                padding-right: 2px;
            }
        }
    }
}