// デフォルト英語フォント,日本語フォント
$font-family: 'Poppins', 'Noto Sans JP', sans-serif;
// SECTION.CRATIVE のナンバリングで使用
$number-font : 'Barlow';

$theme-color: #df5129;
$theme-color-sub: #734400;
$sub-title-color: #e95129;

$h1-font-size: 22px;
$h1-font-size-sub : 12px;
$impact-font-size : 23px;
$default-font-size : 13px;

$container-width: 95vw;
