@import 'variable';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-family;
    color: #191919;
    font-size: $default-font-size;
}
body {
    overflow-x: hidden !important;
}
@import 'header';
@import 'index';
@import 'footer';