@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", "Noto Sans JP", sans-serif;
  color: #191919;
  font-size: 13px;
}

body {
  overflow-x: hidden !important;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 55px;
  width: 100%;
  background-color: #df5129;
  z-index: 999;
}

header .logo-area {
  height: 100%;
  padding-left: 10px;
}

header .logo-area img {
  height: 100%;
  width: 35vw;
  -o-object-fit: contain;
     object-fit: contain;
}

header .contact-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .contact-area a, header .contact-area .mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #000;
  border-radius: 5px;
  color: #fff;
  font-size: 10px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

header .contact-area a img, header .contact-area .mail img {
  width: 20px;
  height: 20px;
  -o-object-fit: contain;
     object-fit: contain;
}

header .contact-area a {
  text-decoration: none;
  width: 20vw;
  min-width: 70px;
  padding: 5px;
}

header .contact-area .mail {
  padding: 5px;
  width: 32vw;
  min-width: 120px;
  margin: 0px 5px;
}

header .contact-area .mail img {
  padding-right: 2px;
}

main {
  padding-top: 55px;
}

main section h1 {
  position: relative;
  letter-spacing: 2px;
  padding: 25px 0px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: auto;
  font-size: 22px;
}

main section h1 span {
  position: absolute;
  bottom: 5px;
  left: 0;
  right: 0;
  display: block;
  color: #e95129;
  font-size: 12px;
  font-weight: 500;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: auto;
  letter-spacing: 0px;
}

main section h1::before, main section h1::after {
  content: '＋';
  font-weight: 900;
  position: absolute;
  display: block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  top: 0;
  bottom: 0;
  margin: auto;
}

main section h1::before {
  left: -40px;
}

main section h1::after {
  right: -40px;
}

main section .container {
  width: 95vw;
  margin: auto;
}

main section p.impact {
  font-size: 23px;
  font-weight: 500;
  color: #734400;
}

main section .contact-info {
  width: 100%;
  background-color: #df5129;
  padding: 25px 50px;
}

main section .contact-info p {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  line-height: 1.4;
}

main section .contact-info p span {
  color: #fff;
}

main section .contact-info a {
  text-decoration: none;
}

main section .contact-info a button {
  display: block;
  background-color: unset;
  border: 1px solid #fff;
  width: 100%;
  text-align: center;
  padding: 5px;
  margin: 10px 0px;
  border-radius: 20px;
  color: #fff;
  -webkit-transition: .5s;
  transition: .5s;
}

main section .contact-info a button:hover {
  background-color: #fff;
  color: #df5129;
}

main section.top .image-wrapper {
  position: relative;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: 100%;
}

main section.top .image-wrapper img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

main section.top .image-wrapper .catch-copy {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: auto;
}

main section.top .image-wrapper .catch-copy h1 {
  color: #df5129;
  font-size: 26px;
}

main section.top .image-wrapper .catch-copy h1 span {
  position: relative;
  top: 0;
  left: 0;
}

main section.top .image-wrapper .catch-copy h1::before, main section.top .image-wrapper .catch-copy h1::after {
  content: unset;
}

main section.top .image-wrapper .catch-copy h1::before {
  content: '';
  display: block;
  position: absolute;
  top: -10px;
  right: -6vw;
  left: unset;
  margin: unset;
  height: 40px;
  width: 40px;
  background-image: url(../images/top_plus.png);
  background-size: contain;
  z-index: 2;
}

main section.concept .image-wrapper {
  height: 140px;
  width: 100%;
  margin: 25px 0px;
  overflow: hidden;
}

main section.concept .image-wrapper img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

main section.concept .container p {
  width: 100%;
  line-height: 2;
  text-align: center;
}

main section.concept .container p.impact {
  font-size: 23px;
  line-height: 1.5;
  margin-bottom: 30px;
  margin-top: 30px;
}

main section.concept .container p.impact span {
  font-size: 18px;
  color: #734400;
}

main section.concept .container .pr-container {
  padding: 20px 15px;
}

main section.concept .container .pr-container .image-wrapper {
  width: 100%;
  height: 200px;
  margin: 0px;
}

main section.concept .container .pr-container .image-wrapper img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

main section.concept .container .pr-container h2 {
  color: #734400;
  font-size: 22px;
  padding: 15px 0px;
}

main section.concept .container .pr-container p {
  text-align: left;
  line-height: 1.6;
}

main section.concept .container .point-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 60px;
}

main section.concept .container .point-container .point {
  border: 2px solid #e95128;
  background-color: #fef5f3;
  position: relative;
  margin: 5px;
  width: 125px;
  height: 125px;
}

main section.concept .container .point-container .point span {
  position: absolute;
  top: 0px;
  left: 10px;
  color: #e95128;
  font-size: 28px;
  font-weight: 600;
}

main section.concept .container .point-container .point p {
  padding-top: 30%;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.4;
}

main section.creative {
  padding-top: 70px;
}

main section.creative .container {
  width: 100vw;
}

main section.creative .container .pr-container span {
  font-family: "Barlow" !important;
  font-size: 60px;
  font-weight: 500;
  display: block;
  color: #e95128;
  width: 100%;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

main section.creative .container .pr-container p {
  padding: 0px 10px;
}

main section.creative .container .pr-container p.large {
  font-size: 17px;
  font-weight: 700;
  padding: 0px 20px;
  padding-bottom: 30px;
}

main section.creative .container .pr-container .image-wrapper {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin-bottom: 15px;
}

main section.creative .container .pr-container .image-wrapper img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

main section.creative .container .pr-container .image-wrapper.middle {
  width: 80%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

main section.creative .container .pr-container .image-wrapper.middle img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

main section.creative .container .pr-container .image-wrapper.middle.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main section.creative .container .pr-container .image-wrapper.middle.flex img {
  width: 49%;
  -o-object-fit: contain;
     object-fit: contain;
}

main section.welfare p.impact {
  width: 100%;
  text-align: center;
  font-weight: 400;
  margin: 40px 0px;
}

main section.welfare .container {
  padding: 0px 15px;
}

main section.welfare .container .pr-container h3 {
  font-size: 16px;
  border-bottom: 1.5px solid #734400;
  padding-bottom: 5px;
  margin-bottom: 15px;
}

main section.welfare .container .pr-container .image-wrapper {
  width: 300px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

main section.welfare .container .pr-container .image-wrapper img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

main section.education {
  padding-bottom: 50px;
}

main section.education .container {
  padding: 0px 15px;
}

main section.education .container p.impact {
  width: 100%;
  text-align: center;
  font-weight: 400;
  margin: 40px 0px;
  font-size: 23px;
}

main section.education .container .image-wrapper {
  width: 300px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

main section.education .container .image-wrapper img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

main section.staff-message {
  background-color: #eee;
  padding-bottom: 20px;
}

main section.staff-message .container .message-container {
  border: 1.5px solid #eaeaea;
  background-color: #fff;
  padding: 30px 15px;
  margin: 30px 0px;
}

main section.staff-message .container .message-container .profile-area {
  width: 270px;
  margin: auto;
}

main section.staff-message .container .message-container .profile-area .image-wrapper {
  width: 100%;
  height: 270px;
  background-color: #eee;
  margin: 10px 0px;
}

main section.staff-message .container .message-container p.impact {
  font-size: 23px;
  font-weight: 400;
  padding: 15px 0px;
}

main section.requirements {
  padding-bottom: 60px;
}

main section.requirements h1 {
  margin-bottom: 20px;
}

main section.requirements ul {
  list-style: none;
}

main section.requirements ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 5px 10px;
  border-top: 2px solid #f8f8f8;
}

main section.requirements ul li span.title {
  display: block;
  width: 25%;
}

main section.requirements ul li .text {
  display: block;
  width: 75%;
}

main section.requirements ul li .text p {
  line-height: 2;
}

main section.requirements ul li .text p.stripe {
  width: 100%;
  background-color: #f8f8f8;
  font-weight: 500;
  margin: 5px 0px;
  padding: 0px 5px;
}

main section.requirements ul li:last-child {
  border-bottom: 2px solid #f8f8f8;
}

main section.contact {
  background-color: #f8f8f8;
  padding-bottom: 30px;
}

main section.contact h1 {
  color: #734400;
  font-weight: 400;
}

main section.contact h1::before, main section.contact h1::after {
  content: none;
}

main section.contact p {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
}

main section.contact .container .form-parts {
  width: 100%;
  padding: 0px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main section.contact .container .form-parts label {
  display: block;
  letter-spacing: 1px;
  padding: 10px 0px;
  width: 100%;
}

main section.contact .container .form-parts label span {
  display: inline-block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  color: #fff;
  background-color: #f90100;
  font-size: 10px;
  padding: 1px 3px;
  border-radius: 5px;
  margin-left: 10px;
}

main section.contact .container .form-parts input {
  border: 1.5px solid #eaeaea;
  padding: 4px;
}

main section.contact .container .form-parts input.name {
  width: 48%;
}

main section.contact .container .form-parts input.age {
  width: 20%;
}

main section.contact .container .form-parts input.address {
  width: 100%;
}

main section.contact .container .form-parts input.tel {
  width: 30%;
}

main section.contact .container .form-parts input.e-mail {
  width: 100%;
}

main section.contact .container .form-parts textarea {
  width: 100%;
  border: 1.5px solid #eaeaea;
}

main section.contact .container .form-parts.radio {
  display: block;
}

main section.contact .container .form-parts.radio input {
  margin-right: 5px;
}

main section.contact .container .form-parts.radio input:last-child {
  margin-left: 20px;
}

main section.contact .container button {
  display: block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: auto;
  margin-top: 30px;
  padding: 5px 50px;
  border-radius: 20px;
  border-width: 0px;
  color: #fff;
  background-color: #562b00;
}

footer .footer-container {
  height: 100px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=style.css.map */