* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    width: 100%;
    height: 100vh;
    background: #161616;
    font-family: 'Yu Mincho Light','YuMincho','Yu Mincho','游明朝体',sans-serif;
}

.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.right-container, .left-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 48%;
    height: 100%;
    position: relative;
}
.right-container {
    opacity: 0;
    transform: translateY(-50px);
    animation: fade-in;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}

.right-container .image-container {
    min-width: 450px;
    height: 400px;
    margin: 10px 0px
}
.title {
    position: fixed;
    color: white;
    font-size: 84px;
    font-weight: lighter;
}
.title h1 {
    font-weight: 100;
}
.hero-title .letter {
    display: inline-block;
    opacity: 0;
}
.theme-title {
    font-size: 50px;
    margin: 20px 0px;
}
.sub-title {
    font-size: 32px;
    margin: 10px 0px;
}
.introduce {
    font-size: 14px;
    line-height: 45px;
    padding-left: 20px;
}
.introduce a {
    text-decoration: none;
    color: #fff;
    transition: .5s;
}
.introduce a:hover {
    color: rgb(192, 192, 192);
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}