@media only screen and (max-width:1001px) {
    .title {
        font-size: 70px;
        left: 1%;
    }
}
@media only screen and (max-width:961px) {
    .title {
        left: unset;
        position: absolute;
    }
    .right-container, .left-container {
        min-width: 100%;
        min-height: 100vh;
    }
    .right-container .image-container {
        width: 90%;
    }
}

@media only screen and (max-width:511px) {
    .theme-title {
        font-size: 30px;
    }
}

@media only screen and (max-width:321px) {
    .title {
        font-size: 65px;
    }
}
