html,body {
    margin: 0px;
    padding: 0px;
    font-family:
    -apple-system, BlinkMacSystemFont,
    "游ゴシック体", YuGothic,
    "Yu Gothic M",
    "游ゴシック Medium", "Yu Gothic Medium",
    "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN W3", HiraKakuProN-W3,
    "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN",
    "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro",
    "メイリオ", Meiryo,
    Osaka,
    "ＭＳ Ｐゴシック", "MS PGothic",
    "Helvetica Neue", HelveticaNeue,
    Helvetica,
    Arial,
    "Segoe UI",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
}

.eng-text {
    font-family: Raleway, Arial, sans-serif !important;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    padding: 0px 30px;
    background-color: rgba(255, 255, 255, 0.082);
    z-index: 5;
    color: #fff;
    transition: .7s;
}
.black {
    background-color: #fff;
    color: #333;
    box-shadow: 0px 1px 10px 0px #4a4a4a47;
}
.black .logo {
    margin: 10px;
}

ul,li {
    list-style: none;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

a {
    text-decoration: none;
    color:#333;;
}

nav ul li {
    font-size: 14px;
    font-weight: bold;
    margin:0px 30px;
}

.logo {
    font-size: 30px;
    font-weight: bold;
    transition: .7s;
}


.video-wrapper {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: auto;
    z-index: 2;
}

.top {
    position: absolute;
    width: 100%;
    padding-left:5%;
    bottom: 15%;
    z-index: 3;
    box-sizing: border-box;
    color: #fff;
    background-color: #00000057;
}

.top-h1 {
    font-size: 50px;
    font-weight: bold;
}

.top-msg {
    font-size: 32px;
    font-weight: bold;
}

.impact {
    color: #61E0f5;
}

.wrapper {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: #333;
    color: #000;
    z-index: 3;
    margin-bottom: 500px;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1400px;
    margin: 0 auto;
    padding-top: 100px;
}

.sec-title {
    width: 100%;
    background-color: #333;
    color: #fff;
}
.content h1 {
    font-size: 40px;
    width: 100%;
    margin-bottom: 0px;
    text-align: center;
}

.content h3 {
    font-size: 18px;
    width: 100%;
    text-align: center;
    margin-top: 0px;
}

.service-container {
    width: 100%;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.service-box {
    position: relative;
    width: 100%;
    max-width: 32%;
    background-color: #fff;
    color: #000;
    min-height: 300px;
    margin-bottom: 100px;
    transition: .5s;
}

.service-title {
    position: absolute;
    width: 100%;
    bottom: 0%;
    background-color: #3333338f;
    color: #fff;
    text-align: center;
    padding: 10px 0px;

}

.service-title h3 {
    font-size: 22px;
    font-weight: bold;
}

.service-title p {
    font-size: 14px;
    font-weight: 600;
}

.service-box:hover {
    z-index: 4;
    cursor: pointer;
    transform: scale(1.05,1.05);
}

/* 画像設定 */
#pic-one {
    background: url(https://images.pexels.com/photos/1036808/pexels-photo-1036808.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) no-repeat;
    background-size: cover;
}

#pic-two {
    background: url(https://images.pexels.com/photos/618613/pexels-photo-618613.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) no-repeat;
    background-size: cover;
}

#pic-three {
    background: url(https://images.pexels.com/photos/546819/pexels-photo-546819.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) no-repeat;
    background-size: cover;
}

#pic-four {
    background: url(https://images.pexels.com/photos/326502/pexels-photo-326502.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500) no-repeat;
    background-size: cover;
}

#pic-five {
    background: url(https://images.pexels.com/photos/196644/pexels-photo-196644.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) no-repeat;
    background-size: cover;
}

#pic-six {
    background: url(https://images.pexels.com/photos/6224/hands-people-woman-working.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) no-repeat;
    background-size: cover;
}

.contact-form {
    margin: 100px 0px 200px 0px;
}

.contact-form button {
    position: relative;
    background: none;
    padding: 50px;
    border: solid 1px #fff;
    font-size: 16px;
    color: #fff;
    transition: .5s;
}

.contact-form button::before {
    position: absolute;
    left: 2%;
    opacity: 1;
    content: '→';
    font-size: 20px;
    font-weight: bold;
    padding-right: 5px;
    transition: .5s;
}


.contact-form button:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.171);
}

.contact-form button:hover::before {
    transform: rotateX(360deg);
    margin-left: 250px;
}

/* footer */
footer {
    position: fixed;
    bottom: 0;
    height: 500px;
    width: 100%;
    background-color: #000;
    color: #fff;
}

.footer-wrapper {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 1400px;
    margin: 0 auto;
}

.footer-top {
    width: 100%;
    display: flex;
    align-items: center;
}

.footer-wrapper h1 {
    width: 100%;
    text-align: center;
    font-size: 50px;
}
.footer-left {
    min-width: 500px;
}
footer ul li{
    margin: 5px 0px;
}

.list-label {
    display: inline-block;
    width: 10ch;
}

.footer-right {
    min-width: 500px;
}

/* animations */
@keyframes fade_in {
    from {
        opacity: 0;
        left: -100%;
    }
    to {
        opacity: 1;
        left: 0%;
    }
}

.top {
    animation: fade_in 2s;
}

.scroll-fade-in {
    transition: .5s;
}